.header {
  display: flex;
  align-items: center;
  background-color: #fafafa;
  height: 4rem;
  filter: drop-shadow(1px 1px 2px black);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1:hover {
  cursor: pointer;
  text-decoration: underline;
}

.tab {
  font-size: 18px;
}

.tab:hover {
  text-decoration: underline;
  color: #002884;
}

.phonenavigation {
  display: none;
}

@media (max-width: 630px) {
  .phonenavigation {
    display: block;
  }

  .mainnavigation {
    display: none;
  }
}
